body{
  background: gray;
  padding: 80px;
}

a
{
 color:gray;
 text-decoration: none;
}
a:hover {

  text-decoration: underline;
  color:  #003E47;
}


.HomeButton {

  font-family: 'Crete Round';
  border-radius: 25px;
  border: 6px solid #003E47;
  color: White;
  background-color: #003E47;
  padding: 5px;
  outline: none;
  margin: auto;
  font-size: 25px;
  color: white;
  font-family: 'Crete Round';
  outline: none;
  text-align: center;
  margin: auto;
  width: 50%;
  height: 70%;

}


.sidenav {
  height: 250%;
  width:0;
  font-family: 'Crete Round';
  position: sticky;
  border-radius: 25px;
  z-index: 1;
  top:0;
  left:0;
  background-color: white;
  overflow-x: hidden;
  overflow-y:auto;
  transition: 0.5s;
  padding-top: 50px;
}
.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-size: 25px;
  color: Gray;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #003E47;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
}

.openNav {

  border: 0px;
  background-color: white;
  padding-left:35px;
  font-family: 'Crete Round';
  color: gray;
  font-size: 25px;
  outline: none;
}


.button {

  font-family: 'Crete Round';
  border-radius: 25px;
  color: White;
  background-color: #003E47;
  padding: 5px;
  outline: none;
}




button[type=button]:hover {
  text-decoration:underline;
  background-color:#003566;
  background-image: url("Rain.gif");

}

a[type=Homerot]:hover {

    color: white;
    text-decoration:underline;
    transition: 0.5s;
    background-position: center;
    background-image: url("rot.PNG");
    background-size: cover;
    text-shadow: 1px 1px 0px  #003E47, -1px -1px 0px  #003E47, 1px -1px 0px  #003E47, -1px 1px 0px  #003E47;

}

a[type=Homecaesar]:hover {

    color: white;
    text-decoration:underline;
    transition: 0.5s;
    background-position: center;
    background-image: url("caesar.PNG");
    background-size: cover;
    text-shadow: 1px 1px 1px  #003E47, -1px -1px 0px  #003E47, 1px -1px 1px  #003E47, -1px 1px 0px  #003E47;

}

a[type=Homepig]:hover {

    color: white;
    text-decoration:underline;

    transition: 0.5s;
    background-position: center;
    background-image: url("pig.PNG");
    background-size: cover;
    text-shadow: 1px 1px 0px  #003E47, -1px -1px 0px  #003E47, 1px -1px 0px  #003E47, -1px 1px 0px  #003E47;


}

a[type=Homemorse]:hover {

    color: white;
    text-decoration:underline;

    transition: 0.5s;
    background-position: center;
    background-image: url("morse.PNG");
    background-size: cover;
    text-shadow: 1px 1px 0px  #003E47, -1px -1px 0px  #003E47, 1px -1px 0px  #003E47, -1px 1px 0px  #003E47;

}

.image {

    max-width:180px;
    max-height:180px;
    width: auto;
    height: auto;
}


.container {
  background-color: white;
  color:Gray;
  border-radius: 25px;
  margin-top: -50px;
  margin-left: 100px;
  margin-right: 100px;

}

.containerMain {
  display:block;
  height: 700px;
  background-color: white;
  color:Gray;
  border-radius: 25px;
  margin-top: -50px;
  margin-left: 100px;
  margin-right: 100px;


}

.content {
    padding:inherit;
    border-radius: 25px;
    font-family: 'Crete Round';
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-auto-rows: 100px;

}

#header{
  background-color: #003E47;
  font-family: 'Crete Round';
  border-radius: 25px;
  color: white;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  text-shadow: 4px 4px #000000;

}



.main {
  display:grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 100px;
  grid-column-gap: 20px;
  grid-row-gap: 100px;


}



#mySidenav {
 border: 0px solid #003E47;
  margin-left: 0px;
}

#input_area {
  border-radius: 25px;
  padding-top: -200px;
  margin: auto;
  border: 4px solid #003E47;
  padding: 20px;
  font-size: 25px;
  color: gray;
  font-family: 'Crete Round';
  width:60%;
  text-align: center;
    outline: none;
}

#output_area {
  text-align: center;
  font-size: 25px;
  color: gray;

}

#label {
  text-align: center;
  font-size: 25px;
  color: gray;
  font-family: 'Crete Round';

}

#encode-decode_button{
    margin: auto;
  font-size: 25px;
  color: white;
  font-family: 'Crete Round';
  outline: none;
  text-align: center;
  margin: auto;

  width: 30%;
  height: 70%;
}


#encode_button, #decode_button{
  margin: auto;
  font-size: 25px;
  color: white;
  font-family: 'Crete Round';
  outline: none;
  text-align: center;
  width: 30%;
  height: 70%;
}

#footer{
  margin-top: 240px;
  padding: 20px;
  border-radius: 25px;
  text-align: left;
  font-family: 'Crete Round';

}
